.list-right{
    position:absolute;
    right:0%;
    left:60%;
    list-style: none;
}

.list-left{
    position:absolute;
    right:0%;
    left:20%;
    list-style: none;

}

.wc{
    bottom:0%;
    top:80%;
    left:45%;
    position:absolute;
}

/* .race-List{
    list-style: none;
} */

.facts{
    list-style: none;
}

.header{
    
}